PORT=8080
JWT_SECRET=your_jwt_secret
PGHOST=localhost
PGPORT=5432
PGUSER=your_postgres_user
PGPASSWORD=your_postgres_password
PGDATABASE=your_postgres_database
REDIS_URL=redis://localhost:6379
MQTT_URL=mqtt://localhost:1883
ALLOWED_ORIGINS=http://localhost:5173
